/source/node_modules
/source/public/hot
/source/public/storage
/source/storage/app/*
/source/storage/framework/cache/data/*
/source/storage/framework/sessions/*
/source/storage/framework/testing/*
/source/storage/framework/views/*
/source/storage/logs/*
/source/storage/*.key
/source/vendor
/source/.styleci.yml
/source/.phpunit.result.cache
/source/.php-cs-fixer.cache
/source/package.json
/source/phpunit.xml
/source/README.md
/source/phpspec.yml
/source/npm-debug.log
/source/yarn-error.log
/.github
/.git
/.idea
/.vscode
**.env*
**.editorconfig
**.gitattributes
**.gitignore
